<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chinavis 2019 界面 2</title>
    <link rel="stylesheet" href="../static/css/Framework3.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="container">
    <header>
        <div class="herder_bg" id="index3"></div>
        <a id="switch_btn2" href="/index"></a>
        <a id="switch_btn5" href="/index2"></a>
        <a id="switch_btn1" href="/index3"></a>
        <a id="switch_btn3" href="/map4"></a>
        <a id="switch_btn4" href="/map5"></a>
    </header>
    <article>
        <div id="hideleft"></div>

        <div id="hideright"></div>
        <div class="wrap">
            <div class="wrap_top">
                <div class="wrap-left">
                    <div class="left-top sun-div">
                        <div class="sun-title" >
                            <iframe style="width:100%;filter:alpha(opacity=0);-moz-opacity:0; height:185px; position:absolute; z-index:-1"></iframe>
                            <span class="">某一小时具体的道路流量信息</span></div>
                        <br>
                        <br>

                        <div id="chord" style="width: 800px;height: 714px"></div>
<div class="sun-div1">

                            <div id="select">
                            {#这里不能直接加form表单，不然会重新再次刷新页面。因为form会默认刷新页面，button的类型为button或者submit都是可以的#}
                            {#    https://blog.csdn.net/armarm9/article/details/81702584#}
                            <input type="text" id="time" name="time"/>
                            <button type="submit" id="button_time">查询</button>

                        </div>

                        </div>

                    </div>
                </div>
                <div class="wrap-right">
                    <div class="right-top sun-div">
                        <div class="sun-title"><span class="">该小时每10s的道路总流量情况</span></div>
                        <div id="grid_multiple" style="width: 650px;height: 335px;"></div>
                    </div>
                    <div class="right-top sun-div">
                        <div class="sun-title"><span class="">前后7个小时的道路流量</span></div>
                        <div id="calender" style="width:650px;height:353px"></div>
                    </div>

                </div>


                {#                <div class="wrap_bot">#}
                {#                    <div class="r-btm-left">#}
                {#                        <div class="sun-title"><span class="">前后7个小时的道路流量</span></div>#}
                {#                        <div id="calender" style="width:1000px;height:280px"></div>#}
                {#                    </div>#}
                {##}
                {##}
                {#                </div>#}
            </div>
        </div>
        <div class="left_margin  box-div">
        <div class="sun-div2">
                <div class="sun-title"><span class="">24小时道路流量变化</span></div>

                <div id="multiple_chart" style="width: 700px;height: 600px"></div>
        </div>
        </div>
    </article>

</div>


</div>


</body>
<script type="text/javascript" src="../static/lib/jquery-1.8.1.min.js"></script>
{#<script type="text/javascript" src="../static/lib/echarts.min.js"></script>#}
<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts-en.common.js"></script>

<script type="text/javascript" src="../static/js/Framework2.js"></script>
<script type="text/javascript" src="../static/lib/d3.v4.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript"
        src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
{#<script type="text/javascript"#}
{#        src="https://api.map.baidu.com/api?v=2.0&ak=xfhhaTThl11qYVrqLZii6w8qE5ggnhrY&__ec_v__=20190126"></script>#}
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
<script type="text/javascript" src="../static/js/viz.js"></script>

<script type="text/javascript">
    let myChart1 = echarts.init(document.getElementById('grid_multiple'));
    let myChart2 = echarts.init(document.getElementById('calender'));
    let myChart3 = echarts.init(document.getElementById('multiple_chart'));

    $(function () {
        $("#hideleft").toggle(
            function () {
                $(".left_margin").animate({marginLeft: "-150%"});
                $(".wrap").animate({marginLeft: 0});
                $(".center").animate({marginLeft: 0});
            },
            function () {
                $(".center").animate({marginLeft: "25%"});
                $(".left_margin").animate({marginLeft: "-100%"});
            }
        );
        $("#hideright").toggle(
            function () {
                $(".right_margin").animate({marginRight: "-125%"});
                $(".wrap").animate({marginRight: 0});
                $(".center").animate({marginRight: 0});
            },
            function () {
                $(".center").animate({marginRight: "50%"});
                $(".right_margin").animate({marginLeft: "-25%"});
            }
        );
    });
    /*
     * 参数说明
     * obj : 动画的节点，本例中是ul
     * top : 动画的高度，本例中是-35px;注意向上滚动是负数
     * time : 动画的速度，即完成动画所用时间，本例中是500毫秒，即marginTop从0到-35px耗时500毫秒
     * function : 回调函数，每次动画完成，marginTop归零，并把此时第一条信息添加到列表最后;
     *
     */
    function noticeUp(obj, top, time) {
        $(obj).animate({
            marginTop: top
        }, time, function () {
            $(this).css({marginTop: "0"}).find(":first").appendTo(this);
        })
    }

    $(function () {
        // 调用 公告滚动函数
        setInterval("noticeUp('.notice ul','-35px',500)", 2000);
    });

</script>

<script type="text/javascript">

    $(window).resize(function ()// 绑定到窗口的这个事件中
    {
        // var whdef = 100/1920;// 表示1920的设计图,使用100PX的默认值
        var whdef = 100 / 916;// 表示1920的设计图,使用100PX的默认值
        var wH = window.innerHeight;// 当前窗口的高度
        var wW = window.innerWidth;// 当前窗口的宽度
        // var rem = wW * whdef;// 以默认比例值乘以当前窗口宽度,得到该宽度下的相应FONT-SIZE值
        var rem = wH * whdef;// 以默认比例值乘以当前窗口宽度,得到该宽度下的相应FONT-SIZE值
        $('html').css('font-size', rem + "px");
        myChart1.resize();
        myChart2.resize();


    });

</script>

<script type="text/javascript" src="../static/js/Framework2.js"></script>
<script type="text/javascript">

    var test_data = [['东山大道一段', '东山大道', 618],
        ['天府大道', '海昌北路', 1894],
        ['海昌北路', '广东路', 1772],
        ['南通路一段', '南通路', 33],
        ['南通路', '黄龙大道三段', 23],
        ['黄龙大道三段', '长安街', 1074],
        ['长安街', '黄龙大道三段', 1065],
        ['锦江路', '锦江路二段', 11076],
        ['锦江路二段', '锦江路', 11244],
        ['锦江路二段', '顺河街', 838],
        ['锦江路二段', '府河路', 3030],
        ['府河路', '锦江路二段', 2175],
        ['锦江路二段', '牧华路', 1331],
        ['牧华路', 'g213', 8361],
        ['二江路', '二江路一段', 6268],
        ['二江路一段', '南海路', 4422],
        ['南海路', '南湖路', 6908],
        ['南湖路', '二江路一段', 4666],
        ['二江路一段', '南湖路', 3039],
        ['二江路一段', '府河路三段', 4431],
        ['府河路三段', '府河路', 1295],
        ['湾河街', '黄龙大道二段', 737],
        ['黄龙大道二段', '华彭路', 981],
        ['华彭路', '双兴路', 224],
        ['双兴路', '华彭路', 270],
        ['华彭路', '正兴路', 174],
        ['正兴路', '华彭路', 167],
        ['华彭路', '黄龙大道三段', 1428],
        ['广都上街', '丽都街', 2069],
        ['丽都街', '广都上街', 1918],
        ['广都上街', '正东中街', 1767],
        ['正东中街', '府河路一段', 1388],
        ['府河路一段', '府河路', 6021],
        ['顺河街', '水津街', 1116],
        ['水津街', '府河路一段', 1123],
        ['府河路', '府河路一段', 6133],
        ['府河路一段', '南湖路', 1054],
        ['南湖路', '南海路', 5818],
        ['南海路', '府河路二段', 44],
        ['府河路二段', '府河路', 3018],
        ['府河路', '牧华路', 1338],
        ['牧华路', '府河路', 1180],
        ['锦江路二段', '双华路', 1372],
        ['双华路', '华板路', 3589],
        ['g213', '牧华路', 6423],
        ['牧华路', '府河路三段', 2972],
        ['府河路三段', '老成仁路', 801],
        ['老成仁路', 'g213', 1344],
        ['g213', '天府大道', 1930],
        ['天府大道', '麓山大道', 2973],
        ['丁字街', '簸箕街', 164],
        ['簸箕街', '水津街', 165],
        ['水津街', '府河路', 167],
        ['府河路', '南海路', 251],
        ['南海路', '二江路一段', 3992],
        ['二江路一段', '二江路', 5834],
        ['府河路三段', '牧华路', 4338],
        ['g213', '东山大道', 3124],
        ['双华路', '锦江路二段', 1359],
        ['华阳大道', '天府大道', 431],
        ['天府大道', '正东下街', 274],
        ['正东下街', '老成仁路', 423],
        ['老成仁路', '南湖路', 639],
        ['南海路', 'g213', 124],
        ['华板路', '锦江路', 135],
        ['锦江路', '双华路', 961],
        ['湾河街', '牧华路', 1014],
        ['华板路', '双华路', 5427],
        ['双华路', '锦江路', 776],
        ['双华路', '牧华路', 4533],
        ['牧华路', '虎高路', 5591],
        ['虎高路', '牧华路', 2536],
        ['二江路', '正东下街', 105],
        ['正东下街', '二江路一段', 126],
        ['二江路', '正东中街', 4770],
        ['正东中街', '二江路', 5281],
        ['二江路', '广东路', 8],
        ['广东路', '海昌北路', 2627],
        ['海昌北路', '天府大道', 2805],
        ['g213', '麓山大道', 1506],
        ['麓山大道', '天府大道', 2189],
        ['麓山大道', 'g213', 2549],
        ['牧华路', '元华路', 3208],
        ['牧华路', '华府大道', 1402],
        ['华府大道', '华板路', 1326],
        ['华板路', '华府大道', 1293],
        ['老成仁路', '府河路三段', 992],
        ['府河路三段', '二江路一段', 3059],
        ['正兴路', '元华路', 101],
        ['元华路', '中彭路', 1672],
        ['中彭路', '元华路', 1132],
        ['华府大道', '牧华路', 1027],
        ['虎高路', '元华路', 10105],
        ['元华路', '虎高路', 7160],
        ['元华路', '牧华路', 4641],
        ['牧华路', '双华路', 2581],
        ['天府大道', 'g213', 1999],
        ['g213', '老成仁路', 1686],
        ['府河路', '府河路三段', 1355],
        ['二江路一段', '府河路', 968],
        ['府河路', '府河路二段', 3032],
        ['府河路一段', '顺河街', 196],
        ['南海路', '老成仁路', 623],
        ['广都上街', '二江路', 913],
        ['府河路一段', '南海路', 253],
        ['南湖路', '府河路一段', 632],
        ['牧华路', '锦江路二段', 1117],
        ['府河路一段', '正东上街', 510],
        ['正东上街', '正东中街', 511],
        ['正东中街', '广都上街', 1474],
        ['顺河街', '华板路', 185],
        ['东山大道', '东山大道一段', 788],
        ['东山大道一段', '庐山大道', 358],
        ['锦江路', '华板路', 139],
        ['府河路一段', '正东中街', 1065],
        ['东山大道', 'g213', 2095],
        ['中彭路', '正兴路', 1347],
        ['正兴路', '回龙路', 2579],
        ['回龙路', '兰沟路', 2295],
        ['二江路', '南海路', 1011],
        ['g213', '广东街', 876],
        ['兰沟路', '黄龙大道三段', 413],
        ['黄龙大道三段', '华彭路', 1058],
        ['华彭路', '兰沟路', 282],
        ['兰沟路', '正兴路', 234],
        ['正兴路', '双兴路', 217],
        ['双兴路', '中彭路', 312],
        ['中彭路', '虎高路', 448],
        ['牧华路', '湾河街', 908],
        ['湾河街', '华彭路', 859],
        ['华彭路', '藕塘新街', 1886],
        ['藕塘新街', '中彭路', 965],
        ['中彭路', '牧华路', 1052],
        ['麓山大道', '东山大道', 446],
        ['元华路', '云龙路', 699],
        ['云龙路', 'g213', 589],
        ['顺河街', '锦江路', 459],
        ['湾河街', '致富路', 237],
        ['虎高路', '中彭路', 552],
        ['中彭路', '双兴路', 428],
        ['双兴路', '正兴路', 235],
        ['正兴路', '兰沟路', 253],
        ['兰沟路', '回龙路', 1928],
        ['回龙路', '正兴路', 1834],
        ['正兴路', '中彭路', 1183],
        ['元华路', '正兴路', 338],
        ['府河路一段', '水津街', 1216],
        ['水津街', '顺河街', 1212],
        ['湾河西街', '牧华路', 323],
        ['牧华路', '黄龙大道二段', 475],
        ['黄龙大道二段', '华板路', 136],
        ['华板路', '牧华路', 159],
        ['牧华路', '华板路', 147],
        ['华板路', '黄龙大道二段', 120],
        ['黄龙大道二段', '牧华路', 404],
        ['黄龙大道二段', '致富路', 341],
        ['致富路', '黄龙大道三段', 91],
        ['黄龙大道三段', '兰沟路', 415],
        ['牧华路', '湾河西街', 247],
        ['牧华路', '中彭路', 1255],
        ['中彭路', '藕塘新街', 1174],
        ['藕塘新街', '华彭路', 1633],
        ['华彭路', '黄龙大道二段', 1540],
        ['黄龙大道二段', '藕塘新街', 544],
        ['藕塘新街', '湾河街', 779],
        ['牧华路', '腾飞十二路', 37],
        ['腾飞十二路', '腾飞十一路', 116],
        ['广东街', 'g213', 413],
        ['腾飞十一路', '腾飞十二路', 180],
        ['南湖路', 'g213', 370],
        ['府河路', '顺河街', 1089],
        ['顺河街', '锦江路二段', 1920],
        ['双华路', '华府大道', 168],
        ['湾河街', '湾河西街', 316],
        ['老成仁路', '南海路', 671],
        ['腾飞十二路', '牧华路', 48],
        ['二江路一段', '正东下街', 274],
        ['二江路', '广都上街', 206],
        ['致富路', '兰沟路', 269],
        ['华彭路', '中彭路', 210],
        ['老成仁路', '天府大道', 51],
        ['华彭路', '南通路', 61],
        ['g213', '云龙路', 1210],
        ['云龙路', '正兴路', 880],
        ['正兴路', '广东街', 1665],
        ['老成仁路', '正东下街', 448],
        ['正东下街', '天府大道', 262],
        ['兰沟路', '致富路', 181],
        ['致富路', '黄龙大道二段', 281],
        ['黄龙大道二段', '湾河街', 904],
        ['南通路', '华彭路', 57],
        ['广东街', '正兴路', 1735],
        ['华府大道', '双华路', 80],
        ['藕塘新街', '黄龙大道二段', 216],
        ['天府大道', '华阳大道', 492],
        ['麓山大道', '海昌北路', 12],
        ['兰沟路', '华彭路', 346],
        ['南湖路', '老成仁路', 476],
        ['g213', '南湖路', 158],
        ['丽都街', '顺河街', 52],
        ['正兴路', '云龙路', 290],
        ['东山大道', '麓山大道', 410],
        ['顺河街', '丽都街', 79],
        ['回龙路', '广东街', 14],
        ['府河路', '二江路一段', 667],
        ['顺河街', '丁字街', 42],
        ['正东中街', '正东上街', 93],
        ['正东上街', '府河路一段', 91],
        ['锦江路', '顺河街', 459],
        ['庐山大道', '东山大道一段', 374],
        ['府河路二段', '南海路', 62],
        ['云龙路', '龙马大道', 88],
        ['龙马大道', '云龙路', 40],
        ['南海路', '府河路一段', 575],
        ['顺河街', '府河路一段', 303],
        ['南海路', '二江路', 303],
        ['天府大道', '广东路', 85],
        ['正东下街', '二江路', 247],
        ['二江路', '华阳大道四段', 249],
        ['黄龙大道三段', '南通路', 38],
        ['广都上街', '广东路', 76],
        ['湾河西街', '湾河街', 266],
        ['南海路', '府河路', 209],
        ['府河路三段', 'g213', 6],
        ['牧华路', '龙马大道', 2],
        ['云龙路', '元华路', 281],
        ['华板路', '顺河街', 95],
        ['正东中街', '二江路一段', 217],
        ['黄龙大道三段', '致富路', 148],
        ['g213', '南海路', 85],
        ['华板路', '湾河街', 1],
        ['湾河街', '华板路', 1],
        ['二江路', '南湖路', 16],
        ['元华路', '龙马大道', 12],
        ['龙马大道', '元华路', 9],
        ['南通路', '南通路一段', 54],
        ['致富路', '湾河街', 125],
        ['黄龙大道二段', '黄龙大道一段', 18],
        ['正东下街', 'g213', 100],
        ['华府大道', '顺河街', 67],
        ['g213', '正东下街', 57],
        ['麓山大道', '锦江路二段', 3],
        ['双华路', '元华路', 10],
        ['元华路', '双华路', 8],
        ['普林场街', '南通路三段', 4],
        ['南通路三段', '南通路', 8],
        ['南通路', '太平街', 15],
        ['太平街', '南通路', 15],
        ['东山大道一段', 'g213', 94],
        ['正东中街', '正东街', 1],
        ['正东街', '正东下街', 1],
        ['正东下街', '正东街', 1],
        ['正东街', '正东中街', 1],
        ['华阳大道四段', '广东路', 15],
        ['中彭路', '华彭路', 193],
        ['华阳大道四段', '二江路', 116],
        ['府河路', '水津街', 95],
        ['水津街', '簸箕街', 100],
        ['簸箕街', '丁字街', 93],
        ['南海路', '牧华路', 6],
        ['天府大道', '老成仁路', 49],
        ['海昌北路', '麓山大道', 9],
        ['华彭路', '湾河街', 69],
        ['腾飞十一路', '华板路', 4],
        ['虎高路', 'g213', 3],
        ['南海路', '中彭路', 1],
        ['藕塘街', '湾河东街', 16],
        ['湾河东街', '黄龙大道二段', 14],
        ['广东街', '回龙路', 8],
        ['回龙路', '中彭路', 12],
        ['g213', '正兴路', 30],
        ['正兴路', 'g213', 14],
        ['g213', '新码头东街', 10],
        ['新码头东街', '新码头北街', 8],
        ['华板路', '华板路', 3],
        ['南湖路', '牧华路', 2],
        ['华板路', '丽都街', 2],
        ['牧华路', '二江路', 1],
        ['兰沟路', '湾河街', 5],
        ['二江路', '府河路三段', 13],
        ['二江路', '府河路', 10],
        ['二江路一段', '正东中街', 94],
        ['华阳大道', '广都上街', 33],
        ['南湖路', '双华路', 3],
        ['正东中街', '府河路', 22],
        ['中彭路', '双华路', 1],
        ['双华路', '华彭路', 1],
        ['华阳大道', '广东路', 11],
        ['广东路', '天府大道', 90],
        ['华阳大道', '牧华路', 2],
        ['g213', 'g213', 5],
        ['黄龙大道三段', '华板路', 1],
        ['广东街', '锦江路', 1],
        ['顺河街', '海昌北路', 1],
        ['顺河街', '华府大道', 13],
        ['牧华路', '府河路一段', 1],
        ['顺河街', '广都上街', 3],
        ['东山大道', '牧华路', 3],
        ['丽都街', '正东中街', 7],
        ['府河路三段', '南海路', 5],
        ['g213', '东山大道一段', 32],
        ['广都上街', '广都上街', 18],
        ['新码头东街', 'g213', 3],
        ['老成仁路', '麓山大道', 13],
        ['黄龙大道二段', '腾飞十路', 12],
        ['藕塘新街', '藕塘街', 9],
        ['黄龙大道二段', '黄龙大道', 3],
        ['黄龙大道', '黄龙大道二段', 3],
        ['华阳大道四段', '二江路一段', 3],
        ['中彭路', '回龙路', 13],
        ['牧华路', '庐山大道', 2],
        ['黄龙大道二段', '腾飞十一路', 4],
        ['腾飞十一路', '牧华路', 1],
        ['牧华路', '腾飞十一路', 1],
        ['腾飞十一路', '黄龙大道二段', 5],
        ['广都上街', '华阳大道', 40],
        ['云龙路', '广东街', 7],
        ['华板路', '元华路', 4],
        ['华阳大道', '华阳大道四段', 2],
        ['顺河街', '黄龙大道二段', 6],
        ['丁字街', '顺河街', 16],
        ['牧华路', '顺河街', 9],
        ['天府大道', '牧华路', 5],
        ['双华路', '南海路', 2],
        ['牧华路', '东山大道', 3],
        ['牧华路', '南海路', 3],
        ['华阳大道四段', '广都上街', 39],
        ['腾飞十二路', '兰沟路', 5],
        ['海昌北路', '东山大道', 3],
        ['南海路', '府河路三段', 5],
        ['元华路', '南湖路', 2],
        ['黄龙大道二段', '湾河东街', 6],
        ['湾河东街', '藕塘街', 4],
        ['府河路三段', '麓山大道', 2],
        ['南海路', '天府大道', 3],
        ['天府大道', '南海路', 4],
        ['正东中街', '华府大道', 2],
        ['广都上街', '华阳大道四段', 18],
        ['东山大道', '海昌北路', 1],
        ['g213', '回龙路', 9],
        ['二江路', '府河路二段', 3],
        ['天府大道', '府河路三段', 7],
        ['g213', '中彭路', 2],
        ['二江路', '华阳大道', 12],
        ['广东路', '华阳大道', 7],
        ['华彭路', '致富路', 19],
        {#['元华路', '华彭路', 1],#}
        {#['南通路', '南通路三段', 7],#}
        {#['南通路三段', '普林场街', 4],#}
        {#['致富路', '牧华路', 10],#}
        {#['华阳大道', '云龙路', 1],#}
        {#['锦江路二段', '老成仁路', 1],#}
        {#['丁字街', '水津街', 3],#}
        {#['华阳大道', '府河路', 1],#}
        {#['华阳大道四段', '华阳大道', 12],#}
        {#['南海路', '华阳大道四段', 1],#}
        {#['华板路', '丁字街', 1],#}
        {#['二江路一段', '牧华路', 4],#}
        {#['牧华路', '二江路一段', 8],#}
        {#['广东路', '广都上街', 18],#}
        {#['正东中街', '南海路', 5],#}
        {#['黄龙大道二段', '顺河街', 10],#}
        {#['华府大道', '府河路', 1],#}
        {#['湾河东街', '藕塘新街', 1],#}
        {#['藕塘街', '藕塘新街', 3],#}
        {#['府河路', '锦江路', 2],#}
        {#['华阳大道四段', '正东下街', 13],#}
        {#['元华路', '府河路三段', 2],#}
        {#['南海路', '正东中街', 4],#}
        {#['顺河街', '府河路', 15],#}
        {#['元华路', '锦江路二段', 1],#}
        {#['二江路', '锦江路二段', 1],#}
        {#['致富路', '华彭路', 22],#}
        {#['麓山大道', '麓山大道', 2],#}
        {#['顺河街', '牧华路', 9],#}
        {#['兰沟路', '兰沟路', 1],#}
        {#['黄龙大道二段', '锦江路', 1],#}
        {#['牧华路', '华阳大道四段', 3],#}
        {#['水津街', '丁字街', 1],#}
        {#['中彭路', '兰沟路', 7],#}
        {#['元华路', '顺河街', 3],#}
        {#['中彭路', '麓山大道', 1],#}
        {#['黄龙大道二段', '黄龙大道三段', 1],#}
        {#['广都上街', '府河路', 3],#}
        {#['府河路一段', '广都上街', 3],#}
        {#['牧华路', '天府大道', 2],#}
        {#['致富路', 'g213', 1],#}
        {#['麓山大道', '府河路', 2],#}
        {#['腾飞十一路', '顺河街', 3],#}
        {#['元华路', '府河路一段', 1],#}
        {#['湾河街', '兰沟路', 1],#}
        {#['府河路', '二江路', 2],#}
        {#['府河路三段', '南湖路', 7],#}
        {#['南湖路', '正东下街', 2],#}
        {#['元华路', 'g213', 8],#}
        {#['老成仁路', '二江路一段', 3],#}
        {#['麓山大道', '南海路', 1],#}
        {#['正东中街', '南湖路', 3],#}
        {#['天府大道', '东山大道', 1],#}
        {#['湾河街', '湾河街', 2],#}
        {#['锦江路', '府河路', 1],#}
        {#['g213', '新码头南街', 1],#}
        {#['牧华路', '麓山大道', 10],#}
        {#['双华路', '湾河街', 2],#}
        {#['湾河街', '藕塘新街', 2],#}
        {#['腾飞十路', '黄龙大道二段', 8],#}
        {#['顺河街', '顺河街', 15],#}
        {#['正东下街', '广都上街', 1],#}
        {#['老成仁路', '牧华路', 3],#}
        {#['正东中街', '府河路三段', 5],#}
        {#['广东路', '元华路', 1],#}
        {#['兰沟路', '广东街', 3],#}
        {#['广东街', '元华路', 2],#}
        {#['二江路一段', '华阳大道四段', 1],#}
        {#['二江路', '二江路', 1],#}
        {#['锦江路二段', '府河路三段', 1],#}
        {#['湾河街', 'g213', 1],#}
        {#['府河路二段', '二江路一段', 1],#}
        {#['丽都街', '广东路', 1],#}
        {#['麓山大道', '牧华路', 8],#}
        {#['华阳大道', 'g213', 1],#}
        {#['二江路', '牧华路', 3],#}
        {#['二江路一段', '双华路', 2],#}
        {#['南湖路', '府河路', 24],#}
        {#['黄龙大道三段', '牧华路', 1],#}
        {#['府河路', '双华路', 4],#}
        {#['g213', '府河路三段', 10],#}
        {#['黄龙大道一段', '顺河街', 1],#}
        {#['二江路', '天府大道', 2],#}
        {#['回龙路', '麓山大道', 2],#}
        {#['府河路', 'g213', 4],#}
        {#['牧华路', '南湖路', 8],#}
        {#['双华路', '双华路', 1],#}
        {#['正东下街', '华阳大道四段', 13],#}
        {#['华阳大道四段', '华阳大道四段', 6],#}
        {#['广东路', '回龙路', 1],#}
        {#['麓山大道', '老成仁路', 13],#}
        {#['华阳大道', '麓山大道', 2],#}
        {#['虎高路', '藕塘新街', 3],#}
        {#['牧华路', '华彭路', 5],#}
        {#['广东街', '云龙路', 2],#}
        {#['正东中街', '正东中街', 2],#}
        {#['东山大道一段', '麓山大道', 1],#}
        {#['府河路', '正东中街', 7],#}
        {#['正东下街', '府河路', 2],#}
        {#['府河路', '正东下街', 2],#}
        {#['中彭路', '广东街', 1],#}
        {#['广东街', '中彭路', 3],#}
        {#['顺河街', 'g213', 2],#}
        {#['广东路', '广东路', 1],#}
        {#['腾飞十二路', '湾河街', 2],#}
        {#['南湖路', '顺河街', 2],#}
        {#['黄龙大道三段', '元华路', 1],#}
        {#['g213', '元华路', 6],#}
        {#['锦江路二段', '正东中街', 1],#}
        {#['牧华路', '回龙路', 1],#}
        {#['锦江路二段', '华板路', 3],#}
        {#['麓山大道', '府河路一段', 1],#}
        {#['水津街', '南海路', 1],#}
        {#['云龙路', '簸箕街', 1],#}
        {#['簸箕街', '云龙路', 1],#}
        {#['牧华路', '广东街', 3],#}
        {#['广东路', '府河路一段', 1],#}
        {#['牧华路', '牧华路', 8],#}
        {#['南海路', '正东下街', 1],#}
        {#['麓山大道', '府河路三段', 3],#}
        {#['顺河街', '南海路', 2],#}
        {#['龙马大道', 'g213', 1],#}
        {#['g213', '龙马大道', 2],#}
        {#['府河路三段', '府河路二段', 1],#}
        {#['府河路', '南湖路', 8],#}
        {#['丽都街', '双华路', 1],#}
        {#['广都上街', '锦江路二段', 2],#}
        {#['元华路', '老成仁路', 1],#}
        {#['新码头北街', '新码头东街', 1],#}
        {#['天府大道', '华板路', 1],#}
        {#['南湖路', '二江路', 6],#}
        {#['元华路', '回龙路', 3],#}
        {#['二江路一段', '老成仁路', 3],#}
        {#['虎高路', '府河路三段', 1],#}
        {#['回龙路', 'g213', 2],#}
        {#['华阳大道', '华阳大道', 2],#}
        {#['府河路三段', '天府大道', 2],#}
        {#['二江路', '广东街', 1],#}
        {#['二江路一段', '二江路一段', 1],#}
        {#['广东街', '牧华路', 2],#}
        {#['g213', '正东中街', 2],#}
        {#['正东中街', 'g213', 2],#}
        {#['正东中街', '广东路', 1],#}
        {#['云龙路', '府河路三段', 1],#}
        {#['二江路一段', '府河路二段', 2],#}
        {#['府河路三段', '兰沟路', 1],#}
        {#['府河路', '正东上街', 2],#}
        {#['锦江路二段', '锦江路二段', 3],#}
        {#['锦江路二段', 'g213', 2],#}
        {#['g213', '府河路', 2],#}
        {#['丽都街', '府河路一段', 3],#}
        {#['元华路', '兰沟路', 5],#}
        {#['湾河街', '中彭路', 2],#}
        {#['华彭路', '虎高路', 2],#}
        {#['腾飞十一路', '腾飞十一路', 1],#}
        {#['g213', '顺河街', 2],#}
        {#['南湖路', '广东街', 1],#}
        {#['华板路', '天府大道', 1],#}
        {#['虎高路', '华府大道', 1],#}
        {#['藕塘街', '牧华路', 2],#}
        {#['牧华路', '藕塘街', 1],#}
        {#['府河路一段', '东山大道', 1],#}
        {#['府河路三段', '广东街', 1],#}
        {#['g213', '二江路', 1],#}
        {#['牧华路', '老成仁路', 1],#}
        {#['丽都街', '府河路', 3],#}
        {#['府河路', '广都上街', 4],#}
        {#['府河路', '丽都街', 1],#}
        {#['黄龙大道一段', '黄龙大道二段', 3],#}
        {#['兰沟路', 'g213', 1],#}
        {#['虎高路', '双兴路', 1],#}
        {#['华彭路', '元华路', 1],#}
        {#['府河路', '华板路', 1],#}
        {#['东山大道', '庐山大道', 1],#}
        {#['府河路一段', '双华路', 4],#}
        {#['双华路', '云龙路', 1],#}
        {#['广东街', '广东街', 1],#}
        {#['府河路', '府河路', 1],#}
        {#['广都上街', '顺河街', 2],#}
        {#['天府大道', '天府大道', 2],#}
        {#['锦江路二段', '麓山大道', 1],#}
        {#['华彭路', '华府大道', 1],#}
        {#['丽都街', '华板路', 1],#}
        {#['丁字街', '华板路', 1],#}
        {#['麓山大道', '广东路', 5],#}
        {#['顺河街', '双华路', 5],#}
        {#['黄龙大道三段', '黄龙大道二段', 1],#}
        {#['南湖路', '东山大道', 1],#}
        {#['正东中街', '老成仁路', 1],#}
        {#['广东路', '麓山大道', 3],#}
        {#['回龙路', '元华路', 3],#}
        {#['回龙路', '牧华路', 1],#}
        {#['丽都街', '丽都街', 1],#}
        {#['南湖路', '府河路三段', 5],#}
        {#['华板路', '锦江路二段', 2],#}
        {#['二江路', '府河路一段', 1],#}
        {#['府河路', '麓山大道', 3],#}
        {#['牧华路', '藕塘新街', 4],#}
        {#['藕塘新街', '牧华路', 4],#}
        {#['元华路', '元华路', 3],#}
        {#['广东路', '正东下街', 1],#}
        {#['华府大道', '丽都街', 1],#}
        {#['腾飞十一路', '华府大道', 2],#}
        {#['二江路', 'g213', 3],#}
        {#['g213', '庐山大道', 2],#}
        {#['府河路三段', '二江路', 5],#}
        {#['府河路一段', '锦江路二段', 1],#}
        {#['二江路', '兰沟路', 1],#}
        {#['新码头北街', '正兴路', 3],#}
        {#['湾河街', '双华路', 1],#}
        {#['虎高路', '龙马大道', 1],#}
        {#['正东上街', '府河路', 4],#}
        {#['华板路', '虎高路', 2],#}
        {#['南湖路', '正东中街', 1],#}
        {#['二江路', '老成仁路', 1],#}
        {#['兰沟路', '中彭路', 2],#}
        {#['双华路', '丽都街', 2],#}
        {#['兰沟路', '牧华路', 2],#}
        {#['海昌北路', '老成仁路', 2],#}
        {#['老成仁路', '海昌北路', 1],#}
        {#['牧华路', '正兴路', 2],#}
        {#['麓山大道', '黄龙大道二段', 1],#}
        {#['府河路三段', '府河路一段', 1],#}
        {#['府河路一段', '二江路一段', 3],#}
        {#['虎高路', '华彭路', 1],#}
        {#['华府大道', '华府大道', 1],#}
        {#['广东路', '二江路', 2],#}
        {#['元华路', '藕塘新街', 1],#}
        {#['丽都街', '锦江路二段', 2],#}
        {#['广东路', '华阳大道四段', 3],#}
        {#['锦江路二段', '广东路', 1],#}
        {#['双华路', '府河路一段', 1],#}
        {#['南海路', '南海路', 1],#}
        {#['麓山大道', '元华路', 1],#}
        {#['正东中街', '正东下街', 2],#}
        {#['府河路', '元华路', 1],#}
        {#['丽都街', '正东上街', 1],#}
        {#['牧华路', '锦江路', 1],#}
        {#['元华路', '湾河街', 2],#}
        {#['丽都街', '二江路', 1],#}
        {#['顺河街', '元华路', 1],#}
        {#['海昌北路', 'g213', 1],#}
        {#['双华路', '顺河街', 1],#}
        {#['正东下街', '正东中街', 1],#}
        {#['南海路', '双华路', 1],#}
        {#['正兴路', '牧华路', 2],#}
        {#['海昌北路', '海昌北路', 1],#}
        {#['华府大道', '腾飞十一路', 1],#}
        {#['南海路', '海昌北路', 1],#}
        {#['海昌北路', '南海路', 1],#}
        {#['锦江路二段', '府河路一段', 2],#}
        {#['云龙路', '牧华路', 3],#}
        {#['湾河街', '老成仁路', 1],#}
        {#['府河路', '中彭路', 1],#}
        {#['府河路', '天府大道', 1],#}
        {#['顺河街', '湾河街', 1],#}
        {#['牧华路', '正东中街', 3],#}
        {#['顺河街', '正兴路', 1],#}
        {#['中彭路', '府河路三段', 1],#}
        {#['南海路', '广东街', 1],#}
        {#['府河路一段', '牧华路', 1],#}
        {#['广东路', '广东街', 1],#}
        {#['长安街', '南通路', 1],#}
        {#['南海路', '水津街', 1],#}
        {#['老成仁路', '元华路', 2],#}
        {#['双华路', '虎高路', 2],#}
        {#['元华路', '华板路', 2],#}
        {#['回龙路', '南湖路', 1],#}
        {#['南湖路', '回龙路', 1],#}
        {#['府河路一段', '华板路', 1],#}
        {#['府河路三段', '东山大道', 1],#}
        {#['龙马大道', '正兴路', 1],#}
        {#['正兴路', '龙马大道', 1],#}
        {#['海昌北路', '府河路三段', 1],#}
        {#['庐山大道', '牧华路', 1],#}
        {#['华府大道', '锦江路二段', 1],#}
        {#['华板路', '腾飞十一路', 1],#}
        {#['顺河街', '腾飞十一路', 1],#}
        {#['府河路二段', '二江路', 1],#}
        {#['中彭路', '云龙路', 1],#}
        {#['兰沟路', '长安街', 1],#}
        {#['g213', '黄龙大道三段', 1],#}
        {#['锦江路二段', '元华路', 1],#}
        {#['府河路', '老成仁路', 1],#}
        {#['锦江路', '元华路', 1],#}
        {#['锦江路二段', '南海路', 1],#}
        {#['双华路', '府河路', 3],#}
        {#['藕塘新街', '虎高路', 1],#}
        {#['华阳大道', '二江路', 3],#}
        {#['元华路', '湾河西街', 1],#}
        {#['g213', '海昌北路', 2],#}
        {#['牧华路', '云龙路', 3],#}
        {#['簸箕街', '元华路', 1],#}
        {#['天府大道', '南湖路', 2],#}
        {#['虎高路', '兰沟路', 1],#}
        {#['兰沟路', '元华路', 1],#}
        {#['元华路', '广东街', 1],#}
        {#['锦江路二段', '双兴路', 1],#}
        {#['东山大道', '广东街', 1],#}
        {#['华阳大道四段', '天府大道', 1],#}
        {#['华府大道', '丁字街', 1],#}
        {#['广东街', '府河路三段', 1],#}
        {#['二江路一段', '中彭路', 1],#}
        {#['元华路', '府河路', 1],#}
        {#['湾河东街', '湾河街', 1],#}
        {#['正东下街', '南海路', 1],#}
        {#['顺河街', '二江路', 2],#}
        {#['长安街', '兰沟路', 1],#}
        {#['虎高路', '双华路', 1],#}
        {#['长安街', '华彭路', 1],#}
        {#['虎高路', '广东街', 1],#}
        {#['黄龙大道二段', '中彭路', 1],#}
        {#['g213', '湾河街', 1],#}
        {#['回龙路', '锦江路二段', 1],#}
        {#['锦江路二段', '正兴路', 1],#}
        {#['南湖路', '南湖路', 1],#}
        {#['天府大道', '府河路', 1],#}
        {#['云龙路', '云龙路', 1],#}
        {#['顺河街', '广东路', 1],#}
        {#['g213', '锦江路二段', 1],#}
        {#['牧华路', '双兴路', 1],#}
        {#['牧华路', '东山大道一段', 1],#}
        {#['广东路', '水津街', 1],#}
        {#['元华路', '二江路一段', 1],#}
        {#['致富路', '致富路', 1],#}
        {#['二江路', '丽都街', 1],#}
        {#['华板路', '正兴路', 1],#}
        {#['g213', '锦江路', 1],#}
        {#['正东中街', '华板路', 1],#}
        {#['广东路', '牧华路', 1],#}
        {#['虎高路', '云龙路', 1],#}
        {#['华板路', '南海路', 1],#}
        {#['广东路', '东山大道', 1],#}
        {#['藕塘新街', '双华路', 1],#}
        {#['丽都街', '华阳大道', 1],#}
        {#['海昌北路', '正东中街', 1],#}
        {#['海昌北路', '东山大道一段', 1],#}
        ['庐山大道', 'g213', 1],
        ['二江路一段', '元华路', 1],
        ['府河路三段', '锦江路二段', 1],
        ['中彭路', '黄龙大道三段', 1]];

    {#    // OLD COLORS#}
    {#    // var colors = {#}
    {#    //     "Jack": "#da4480",#}
    {#    //     "Lucas": "#5ab449",#}
    {#    //     "Tiffany": "#7f5acd",#}
    {#    //     "Andrew": "#aab740",#}
    {#    //     "Figs": "#ce58c0",#}
    {#    //     "Jaume": "#50a26e",#}
    {#    //     "Paul": "#d1434b",#}
    {#    //     "Shane": "#45c0bc",#}
    {#    //     "Peter F": "#ce5929",#}
    {#    //     "Luis": "#4e7bda",#}
    {#    //     "Stephen": "#d49d3c",#}
    {#    //     "Peter B": "#6660a3",#}
    {#    //     "Ziggy": "#7b853c",#}
    {#    //     "Deise": "#b58dde",#}
    {#    //     "Ferg": "#97622e",#}
    {#    //     "Nick": "#609dd6",#}
    {#    //     "John": "#e29074",#}
    {#    //     "Brian": "#9c4b88",#}
    {#    //     "Kevin": "#ab505f",#}
    {#    //     "Mark": "#dc85b6",#}
    {#    //     "Mick": "#ab97a0"#}
    {#    // };#}
    {##}
    {#    // COLORS PALETTE#}
    {#    // var colors = {#}
    {#    //     "Jack": "#F34336",#}
    {#    //     "Lucas": "#E81E63",#}
    {#    //     "Tiffany": "#9C27B0",#}
    {#    //     "Andrew": "#673AB7",#}
    {#    //     "Figs": "#3F51B5",#}
    {#    //     "Jaume": "#2196F2",#}
    {#    //     "Paul": "#03A9F3",#}
    {#    //     "Shane": "#00BCD3",#}
    {#    //     "Peter F": "#009688",#}
    {#    //     "Luis": "#4CAF50",#}
    {#    //     "Stephen": "#8BC24A",#}
    {#    //     "Peter B": "#CCDB39",#}
    {#    //     "Ziggy": "#FEEA3B",#}
    {#    //     "Deise": "#FEC007",#}
    {#    //     "Ferg": "#FE9800",#}
    {#    //     "Nick": "#FE5722",#}
    {#    //     "John": "#795548",#}
    {#    //     "Brian": "#9E9E9E",#}
    {#    //     "Kevin": "#607D8B",#}
    {#    //     "Mark": "#374046",#}
    {#    //     "Mick": "#DC85B6"#}
    {#    // };#}
    {##}
    {#    // SORTED COLORS#}
    {#    // var colors = {#}
    {#    //     "Jack": "#2196F2",#}
    {#    //     "Lucas": "#4CAF50",#}
    {#    //     "Tiffany": "#D7AFDA",#}
    {#    //     "Andrew": "#F34336",#}
    {#    //     "Figs": "#3F51B5",#}
    {#    //     "Jaume": "#03A9F3",#}
    {#    //     "Paul": "#FE9800",#}
    {#    //     "Shane": "#C5C3C5",#}
    {#    //     "Peter F": "#B78E81",#}
    {#    //     "Luis": "#8BC24A",#}
    {#    //     "Stephen": "#F5C6F4",#}
    {#    //     "Peter B": "#FE5722",#}
    {#    //     "Ziggy": "#DC85B6",#}
    {#    //     "Deise": "#9C27B0",#}
    {#    //     "Ferg": "#673AB7",#}
    {#    //     "Nick": "#FEC007",#}
    {#    //     "John": "#00BCD3",#}
    {#    //     "Brian": "#E81E63",#}
    {#    //     "Kevin": "#009688",#}
    {#    //     "Mark": "#CCDB39",#}
    {#    //     "Mick": "#FEEA3B"#}
    {#    // };#}
    {##}

    {##}
    var people = ['Jack', 'Lucas', 'Tiffany', 'Andrew', 'Figs', 'Jaume', 'Paul', 'Shane', 'Peter F', 'Luis', 'Stephen', 'Peter B', 'Ziggy', 'Deise', 'Ferg', 'Nick', 'John', 'Brian', 'Kevin', 'Mark', 'Mick'];
    {##}
    var sortOrder = people.sort();

    // var sortOrder = [
    //     "Arsenal", "Aston Villa", "Bournemouth", "Chelsea", "Crystal Palace", "Everton", "Leicester City", "Liverpool", "Manchester City", "Manchester Utd", "Newcastle Utd", "Norwich City", "Southampton", "Stoke City", "Sunderland", "Swansea City", "Tottenham", "Watford", "West Bromwich", "West Ham Utd"
    // ];


    function sort(a, b) {
        return d3.ascending(sortOrder.indexOf(a), sortOrder.indexOf(b));
    }

    function viz_chord(chord_data) {


        var colors = {
            '兰沟路': '#FAEBD7',
            '华板路': '#00FFFF',
            '广都上街': '#7FFFD4',
            '龙马大道': '#F0FFFF',
            '南通路三段': '#F5F5DC',
            'g213': '#FFE4C4',
            '海昌北路': '#000000',
            '致富路': '#FFEBCD',
            '正东上街': '#0000FF',
            '广东街': '#8A2BE2',
            '顺河街': '#A52A2A',
            '新码头北街': '#DEB887',
            '湾河东街': '#5F9EA0',
            '华阳大道四段': '#7FFF00',
            '双华路': '#D2691E',
            '腾飞十路': '#FF7F50',
            '藕塘街': '#6495ED',
            '南湖路': '#FFF8DC',
            '老成仁路': '#DC143C',
            '黄龙大道': '#00FFFF',
            '二江路': '#00008B',
            '元华路': '#008B8B',
            '南通路': '#B8860B',
            '云龙路': '#A9A9A9',
            '天府大道': '#006400',
            '湾河街': '#A9A9A9',
            '牧华路': '#BDB76B',
            '锦江路二段': '#8B008B',
            '湾河西街': '#556B2F',
            '新码头东街': '#FF8C00',
            '藕塘新街': '#9932CC',
            '府河路二段': '#8B0000',
            '华府大道': '#E9967A',
            '府河路三段': '#8FBC8F',
            '簸箕街': '#483D8B',
            '正东街': '#2F4F4F',
            '普林场街': '#2F4F4F',
            '二江路一段': '#00CED1',
            '丽都街': '#9400D3',
            '南海路': '#FF1493',
            '腾飞十二路': '#00BFFF',
            '广东路': '#696969',
            '正东中街': '#696969',
            '回龙路': '#1E90FF',
            '双兴路': '#B22222',
            '长安街': '#FFFAF0',
            '中彭路': '#228B22',
            '黄龙大道一段': '#FF00FF',
            '新码头南街': '#DCDCDC',
            '东山大道一段': '#F8F8FF',
            '华彭路': '#FFD700',
            '丁字街': '#DAA520',
            '华阳大道': '#808080',
            '太平街': '#008000',
            '黄龙大道二段': '#ADFF2F',
            '腾飞十一路': '#808080',
            '府河路': '#F0FFF0',
            '庐山大道': '#FF69B4',
            '东山大道': '#CD5C5C',
            '正兴路': '#4B0082',
            '锦江路': '#FFFFF0',
            '黄龙大道三段': '#F0E68C',
            '水津街': '#E6E6FA',
            '麓山大道': '#FFF0F5',
            '南通路一段': '#7CFC00',
            '府河路一段': '#FFFACD',
            '虎高路': '#ADD8E6',
            '正东下街': '#F08080'
        }

        var width = 800,
            height = 714;

        var svg = d3.select("#chord").append("svg").attr("height", height).attr("width", width);


        let ch = viz.ch().data(chord_data)
            .padding(.01)
            .sort(sort)
            .innerRadius(200)
            .outerRadius(220)
            .duration(800)
            .chordOpacity(0.3)
            .labelPadding(.03)
            .fill(function (d) {
                return colors[d];
            });

        svg.append("g").attr("transform", "translate(430,430)").call(ch);
    }

    viz_chord(test_data);

</script>
<script type="text/javascript">
    $("button#button_time").click(function () {
        let time = $("#time").val();
        // alert(time);
        $.ajax({
            url: 'index3/',
            type: 'POST',
            data: {"time": time},
            dataType: 'json',
            async: false,
            success: function (result) {

                // 在ajax内部，不能有任何的console.log语句，但是可以用alert来调试
                // alert('ss');

                // 用instanof判断传入的类型，可以判断出来是否为数组 https://segmentfault.com/a/1190000006150186
                // alert(result["hour_data"] instanceof Array);


                // ajax调用d3的图表，要通过d3图表的函数进行调用，不能直接重新画一个图，
                // 首先这个时候通过选择该图所在的dom，调用empty方法清空div，然后直接调用该绘图函数，将数据传入即可。
                // https://stackoverflow.com/questions/22784164/what-is-the-best-way-to-update-d3-charts-using-ajax
                $("div#chord").empty();
                viz_chord(result["hour_data"]);
                loadoOption1(result['line_seconds_date'], result['line_seconds_data']);
                loadoOption2(result["heatmap_x"],result["heatmap_y"],result["heatmap_z"]);


            },
            error: function () {
                alert("error");
            }
        });
    });

</script>
</html>
